* {
    font-family: 'Baloo Bhai 2', cursive;
}

body {
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url(img/bg.jpeg);
    background-size: cover;
}

.left {
    /* border: 2px solid rgb(25, 73, 218); */
    display: inline-block;
    position: absolute;
    left: 50px;
    top: 18px;
}

.left img {
    width: 100px;
    padding: 18px;
    filter: invert(100%);
}

.left div {
    text-align: center;
    line-height: 1px;
    font-size: 20px;
}

.mid {
    /* border: 2px solid rgb(8, 19, 54); */
    width: 47%;
    margin: 32px auto;
}

.right {
    /* border: 2px solid rgb(115, 196, 216); */
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 41px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    list-style: none;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 0px 22px;
    font-size: 24px;
}

.navbar li a:hover,
.navbar li a:active {
    text-decoration: underline;
    color: grey;
}

.btn {
    margin: 0 10px;
    padding: 5px 14px;
    color: white;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(41, 39, 39);
}

.container {
    border: 2px solid white;
    padding: 70px;
    margin: 108px 80px;
    width: 33%;
    border-radius: 18px;

}

.formgroup input {
    text-align: center;
    width: 500px;
    display: block;
    margin: 10px auto;
    padding: 1px;
    font-size: 21px;
    border: 2px solid black;
    border-radius: 12px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 500px;
    margin: 20px auto;
}